/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;
  
  padding: 0;
  margin: 0;
}



button:not([disabled]), summary {
	cursor: pointer;
}



html, body {
  height: 100%;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* header */
	--color-text-header:black;
	--color-background-header: grey;

  /*  */
	--color-text:#111;
	--color-background:#eee;

	/* De Lijst */
	--color-card-background:white;

  /* Bender's Hoofd */
  --bg-section-1: purple;

	--color-button-background:white;
	--color-button-active:crimson;
	--color-button-text:black;

	/* Saved Jokes */
	--color-background-section-3: #2d2d2d;
}



/*******************/
/* GENERAL STYLING */
/*******************/
body {
	font-family: eenfont, sans-serif;
	color: var(--color-text);
	background-color: var(--color-background);
}

h1, h2 {
	color: var(--color-text-header);
	text-align: center;
}



/*************/
/* DE LAYOUT */
/*************/

/* body */
header {
  height:8vh;
}

main {
  height:92vh;
}


/* main */
main {
  display:grid;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    "bender"
    "jokes";
}

/* jokes list and liked list */
section:nth-of-type(1),
section:nth-of-type(3) {
  grid-area:jokes;
}

/* bender */
section:nth-of-type(2) {
  grid-area:bender;
}

@media (min-width:40em) and (min-height: 40em) {
  main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 0em 1em;
    grid-template-areas:
      "jokes bender"
      "jokes liked";
  }

  /* liked list */
  section:nth-of-type(3) {
    grid-area:liked;
  }
}





/**********/
/* HEADER */
/**********/
header {
	background-color: var(--color-background-header);
  display: grid;
  place-content: center;
}





/**************/
/* DE LIJSTEN */
/**************/

/* both lists */
.list {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top:4rem;
} 

/* jokes list */
section:nth-of-type(1) {
  background-color: var(--bg-section-1);
}

/* liked list */
section:nth-of-type(3) {
  background-color: var(--color-background-section-3);
}

section.active {
  z-index:100;
}


/* LIST TITLE */
h2 {
  position: absolute;
  bottom:100%;
  width:50%;
  height:4rem;
  flex-shrink: 0;
  
  display: grid;
  place-content: center;

  background-color: var(--color-background);
	font-size: 1.5em;
}

section:nth-of-type(1) h2 {
  left:0;
}

section:nth-of-type(3) h2 {
  right:0;
}

section:not(.active) h2 {
  font-weight: normal;
  font-size:1.25em;
}

/* om van tab te kunnen wisselen */
h2 button {
  position:absolute;
  inset:0;

  appearance: none;
  color:transparent;
  background: none;
  border:none;

  user-select: none;;
}

@media (min-width:40em) and (min-height: 40em) {
  .list {
    margin-top:0;
  }

  h2 {
    position: static;
    width:unset;
  }

  section:not(.active) h2 {
    font-weight: bold;
    font-size: 1.5em;
  }

  /* niet nodig op groot scherm */
  h2 button {
    display:none;
  }
}







/* ***** */
/* JOKES */
/* ***** */
section ul {
  flex-grow:1;
  padding: 1em;
  list-style: none;

  display: flex;
  gap: 1em;
  justify-items: left;
  align-items: start;
  overflow-y: scroll;
}

section:nth-of-type(1) ul {
  flex-direction: column-reverse;
}

section:nth-of-type(3) ul {
  flex-direction: column;
}



/**********/
/* A JOKE */
/**********/
section li {
  width:100%;
  padding: 2em;
  
  /* display: grid; */
  /* place-content: center; */
  /* place-items: center; */

  text-align: left;

  background-color: var(--color-card-background);
  border-radius: 1em;
	opacity: 0;

	transform: translateY(50px);
	animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section:nth-of-type(1) p {
  font-size: 2em;
}





/*******************/
/* BUTTON  WRAPPER */
/*******************/
section:nth-of-type(1) div {
  padding: 1em;
  background-color: grey;
}



/**********/
/* BUTTONS */
/**********/
section div button,
section li button {
  width:100%;
  padding: 1em;

	font: inherit;
  font-weight: 700;
  color: var(--color-button-text);

  appearance: none;
  background-color: var(--color-button-background);
  border: .5em solid transparent;
  border-radius: 1em;

  display:grid;
  grid-template-columns: min-content;
  justify-content: center;
}

/* altijd belangrijk */
/* feedback dat op de button geklikt is */
section:nth-of-type(1) div button:active {
	background-color: var(--color-button-active);
}

section:nth-of-type(1) div button:hover {
	border: .5em solid black;
}




/* ****** */
/* BENDER */
/* ****** */
section:nth-of-type(2) {
	background: linear-gradient(
    180deg,
    rgba(243, 222, 8, 1) 0%,
    rgba(135, 124, 5, 1) 60%,
    rgba(0, 0, 0, 1) 100%
  );

	display: flex;
	justify-content: center;
	align-items: center;
}


/* head */
section:nth-of-type(2) img {
  height: 75%;
  width:auto;
  display:block;

  animation: wobble .5s infinite alternate ease-in-out;
}

@keyframes wobble {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

/* section:nth-of-type(2) div:nth-of-type(1) {
  z-index: 50;
  position: absolute;
  top: 40em;
  right: 32.5em;
  width: 13em;
  height: 4.5em;
  background-color: black;
  animation: shapeAnimation .4s infinite alternate;
}

section:nth-of-type(2) div:nth-of-type(1)::before {
  content: "";
  z-index: 75;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: yellow;
  animation: shapeAnimation .4s infinite alternate;
}



@keyframes shapeAnimation {
	0% {
			clip-path: polygon(50% 5%, 80% 15%, 100% 30%, 100% 60%, 80% 90%, 50% 95%, 20% 90%, 0 70%, 0 40%, 20% 20%);
	}
	100% {
			clip-path: polygon(50% 35%, 80% 32%, 100% 30%, 100% 60%, 79% 63%, 50% 67%, 21% 69%, 0% 70%, 0 40%, 20% 38%);
	}
}



section:nth-of-type(2) div:nth-of-type(2) {
	position: absolute;
	top: 38.5em;
	right: 31.5em;
	width: 14em;
	height: 7.5em;
	background-color: yellow;
} */