/*********/
/* FONTS */
/*********/

/* Futurama font https://www.dafont.com/futurama.font */
@font-face {
  font-family: 'futurama_bold_fontregular';
  src: url('../fonts/fr-bold-webfont.woff2') format('woff2'),
       url('../fonts/fr-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;
  
  padding: 0;
  margin: 0;
}



button:not([disabled]), summary {
	cursor: pointer;
}



html, body {
  height: 100%;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* Futurama huistyle kleuren */
  --fr-red:#c71000;
  --fr-orange:#ff6f00;
  --fr-lightOrange:#ff6348;
  --fr-lightBrown:#e19176;
  --fr-pink:#ff95a8;
  --fr-purple:#8a4198;

  --fr-darkGreen:#1a5354;
  --fr-lightGreen:#ade2d0;
  --fr-turchese:#008ea0;
  --fr-lightTurchese:#5a9599;
  --fr-lightBlue:#84d7e1;

  --fr-veryDarkGrey:#3d3b25;
  --fr-darkGrey:#3f4041;


  /* Algemene styling */
	--color-text:#111;
	--color-background:#eee;



  --bg-main: var(--color-background);

	/* header */
	--color-text-header:var(--color-text);
	--bg-header: var(--color-background);


	/* De Lijst */
  --bg-lijst-h2:var(--fr-lightOrange);
  --bg-section-1: var(--fr-lightBrown);
  --bg-li: var(--color-background);
  --bg-like-button: var(--fr-pink);
  --bg-section-1-div: var(--fr-darkGrey);

  /* Bender's Hoofd */
  --bg-section-2: var(--fr-purple);


  /* Button */
	--color-button-background:var(--fr-orange);
	--color-button-active:var(--fr-red);
	--color-button-text:var(--color-button-text);

	/* Saved Jokes */
  --bg-savedJokes-h2:var(--fr-lightTurchese);
	--bg-section-3: var(--fr-lightGreen);
}





/*******************/
/* GENERAL STYLING */
/*******************/
body {
  font-family: 'futurama_bold_fontregular', sans-serif;
  letter-spacing: 0.2em;
  color: var(--color-text);
  background-color: var(--color-background);
}


h1, h2 {
	color: var(--color-text-header);
	text-align: center;
}



/*************/
/* DE LAYOUT */
/*************/
main {
  background-color: var(--bg-main);
  height:92vh;
  display:grid;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    "bender"
    "jokes";
}

/* jokes list and liked list */
section:nth-of-type(1),
section:nth-of-type(3) {
  grid-area:jokes;
}

/* bender */
section:nth-of-type(2) {
  grid-area:bender;
}

@media (min-width:40em) and (min-height: 40em) {
  main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 0em 1em;
    grid-template-areas:
      "jokes bender"
      "jokes liked";
  }

  /* liked list */
  section:nth-of-type(3) {
    grid-area:liked;
  }

  body {
    letter-spacing: 0.6em;
    text-shadow: 0.5px 0.5px, -0.5px 0.5px, 0.5px -0.5px, -0.5px -0.5px;
  }
}





/**********/
/* HEADER */
/**********/
header {
  height:8vh;
	background-color: var(--bg-header);
  display: grid;
  place-content: center;
}





/**************/
/* DE LIJSTEN */
/**************/

/* both lists */
.list {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top:4rem;
} 

/* jokes list */
section:nth-of-type(1) {
  background-color: var(--bg-section-1);
}

/* liked list */
section:nth-of-type(3) {
  background-color: var(--bg-section-3);
}

section.active {
  z-index:100;
}


/* LIST TITLE */
h2 {
  position: absolute;
  bottom:100%;
  width:50%;
  height:4rem;
  flex-shrink: 0;
  
  display: grid;
  place-content: center;
	font-size: 1.5em;
}

section:nth-of-type(1) h2 {
  left:0;
  background-color: var(--bg-lijst-h2);
}

section:nth-of-type(3) h2 {
  right:0;
  background-color: var(--bg-savedJokes-h2);
}

section:not(.active) h2 {
  font-weight: normal;
  font-size:1.25em;
}

/* om van tab te kunnen wisselen */
h2 button {
  position:absolute;
  inset:0;

  appearance: none;
  color:transparent;
  background: none;
  border:none;

  user-select: none;;
}

@media (min-width:40em) and (min-height: 40em) {
  header {
    text-shadow: 0.5px 0.5px, -0.5px 0.5px, 0.5px -0.5px, -0.5px -0.5px;
    font-size: 1.8em;
  }

  .list {
    margin-top:0;
  }

  h2 {
    position: static;
    width:unset;
  }

  section:not(.active) h2 {
    font-weight: bold;
    font-size: 1.5em;
  }

  /* niet nodig op groot scherm */
  h2 button {
    display:none;
  }
}







/* ***** */
/* JOKES */
/* ***** */
section ul {
  flex-grow:1;
  padding: 1em;
  list-style: none;

  display: flex;
  gap: 1em;
  justify-items: left;
  align-items: start;
  overflow-y: scroll;
}

section:nth-of-type(1) ul {
  flex-direction: column-reverse;
}

section:nth-of-type(3) ul {
  flex-direction: column;
}



/**********/
/* A JOKE */
/**********/
section li {
  width:100%;
  padding: 2em;
  
  /* display: grid; */
  /* place-content: center; */
  /* place-items: center; */

  text-align: left;

  background-color: var(--bg-li);
  border-radius: 1em;
	opacity: 0;

	transform: translateY(50px);
	animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section:nth-of-type(1) p {
  font-size: 2em;
}





/*******************/
/* BUTTON  WRAPPER */
/*******************/
section:nth-of-type(1) div {
  padding: 1em;
  background-color: var(--bg-section-1-div);
}



/**********/
/* BUTTONS */
/**********/
section div button,
section li button {
  width: 100%;
  padding: 1em;
	font: inherit;
  letter-spacing: 0.4em;
  color: var(--color-button-text);

  appearance: none;
  border: .5em solid transparent;
  border-radius: 1em;

  display:grid;
  justify-content: center;
}



section div button {
  background-color: var(--color-button-background);

}

section li button {
  background-color: var(--bg-like-button);
}

/* altijd belangrijk */
/* feedback dat op de button geklikt is */
section:nth-of-type(1) div button:active {
	background-color: var(--color-button-active);
}

section:nth-of-type(1) div button:hover {
	border: .5em solid black;
}




/* ****** */
/* BENDER */
/* ****** */
section:nth-of-type(2) {
	background-color: var(--bg-section-2);

	display: flex;
	justify-content: center;
	align-items: center;
}


/* Bender Hoofd */
section:nth-of-type(2) img {
  height: 75%;
  width:auto;
  display:block;

  animation: wobble .5s infinite alternate ease-in-out;
}

@keyframes wobble {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    /* Futurama huistyle kleuren */
    --fr-red:#c71000;
    --fr-orange:#ff6f00;
    --fr-lightOrange:#ff6348;
    --fr-lightBrown:#e19176;
    --fr-pink:#ff95a8;
    --fr-purple:#8a4198;
  
    --fr-darkGreen:#1a5354;
    --fr-lightGreen:#ade2d0;
    --fr-turchese:#008ea0;
    --fr-lightTurchese:#5a9599;
    --fr-lightBlue:#84d7e1;
  
    --fr-veryDarkGrey:#3d3b25;
    --fr-darkGrey:#3f4041;
  
  
    /* Algemene styling */
    --color-text:#111;
    --color-background:#eee;
    
  
  
    --bg-main: var(--color-text);
  
    /* header */
    --color-text-header:var(--color-background);
    --bg-header: var(--color-text);
  
  
    /* De Lijst */
    --bg-lijst-h2:var(--fr-veryDarkGrey);
    --bg-section-1: var(--fr-lightOrange);
    --bg-li: var(--fr-veryDarkGrey);
    --bg-like-button: var(--fr-purple);
    --bg-section-1-div: var(--fr-veryDarkGrey);

    --color-dark-p:var(--color-background);
  
    /* Bender's Hoofd */
    --bg-section-2: var(--fr-purple);
  
  
    /* Button */
    --color-button-background:var(--fr-red);
    --color-button-active:var(--fr-purple);
    --color-button-text:var(--color-background);
  
    /* Saved Jokes */
    --bg-savedJokes-h2:var(--fr-veryDarkGrey);
    --bg-section-3: var(--fr-darkGreen);
  }

  body {
    color: var(--color-text);
    background-color: var(--color-background);
  }
  
  main {
    background-color: var(--bg-main);
  }
  
  h1, h2 {
    color: var(--color-text-header);
  }

  header {
    background-color: var(--bg-header);
  }
  
  /* jokes list */
  section:nth-of-type(1) {
    background-color: var(--bg-section-1);
  }

  section:nth-of-type(1) p, section:nth-of-type(3) p {
    color: var(--color-dark-p);
  }
  
  /* liked list */
  section:nth-of-type(3) {
    background-color: var(--bg-section-3);
  }
  
  section:nth-of-type(1) h2 {
    background-color: var(--bg-lijst-h2);
  }
  
  section:nth-of-type(3) h2 {
    background-color: var(--bg-savedJokes-h2);
  }
  
  section li {
    background-color: var(--bg-li);
  }
  
  section:nth-of-type(1) div {
    background-color: var(--bg-section-1-div);
  }
  
  section div button,
  section li button {
    color: var(--color-button-text);
  }
  
  section div button {
    background-color: var(--color-button-background);
  }
  
  section li button {
    background-color: var(--bg-like-button);
  }

  section:nth-of-type(1) div button:active {
    background-color: var(--color-button-active);
  }

  section:nth-of-type(2) {
    background-color: var(--bg-section-2);
  }
}


/* Oude Mond animatie */
/* section:nth-of-type(2) div:nth-of-type(1) {
  z-index: 50;
  position: absolute;
  top: 40em;
  right: 32.5em;
  width: 13em;
  height: 4.5em;
  background-color: black;
  animation: shapeAnimation .4s infinite alternate;
}

section:nth-of-type(2) div:nth-of-type(1)::before {
  content: "";
  z-index: 75;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: yellow;
  animation: shapeAnimation .4s infinite alternate;
}



@keyframes shapeAnimation {
	0% {
			clip-path: polygon(50% 5%, 80% 15%, 100% 30%, 100% 60%, 80% 90%, 50% 95%, 20% 90%, 0 70%, 0 40%, 20% 20%);
	}
	100% {
			clip-path: polygon(50% 35%, 80% 32%, 100% 30%, 100% 60%, 79% 63%, 50% 67%, 21% 69%, 0% 70%, 0 40%, 20% 38%);
	}
}



section:nth-of-type(2) div:nth-of-type(2) {
	position: absolute;
	top: 38.5em;
	right: 31.5em;
	width: 14em;
	height: 7.5em;
	background-color: yellow;
} */