/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adobecleanbold';
	src: url('../fonts/adobecleanbold-webfont.woff2') format('woff2'),
	     url('../fonts/adobecleanbold-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* @font-face {
	font-family: 'archivo-semibold';
	src: url('../fonts/archivo-semibold-webfont.woff2') format('woff2'),
	     url('../fonts/archivo-semibold-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
} */

/* @font-face {
	font-family: ;
	src: url('../fonts/') format(''),
	     url('../fonts/') format('');
} */



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
	padding: 0;
	margin: 0;
}

button:not[disabled], summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* fonts */
	--font-Be-first: "Inter", "Helvetica", "Arial", "sans-serif";
	--font-Be-second: "adobecleanbold", "Arial", "Helvetica", "sans-serif";

	/* Logo kleuren */
	--color-bg-body: var(--color-huisstyle-white);

	/* Behance Huistyle kleuren */
	--color-huisstyle-black: #000000;
	--color-huisstyle-white: #eee;
	--color-huisstyle-lightBlue: #5ea4ff;
	--color-huisstyle-verydarkBlue: #001534;
	--color-huisstyle-Blue: #0078ff;

	/* Behance first version of the logo */

	--color-text-1: var(--color-huisstyle-black);

	/* Behance second version of the logo */
	--bg-div-2: var(--color-huisstyle-verydarkBlue);
	--bg-div-border: var(--color-huisstyle-lightBlue);
	--color-text-2: var(--color-huisstyle-lightBlue);

	/* Behance third version of the logo */
	--bg-div-3: var(--color-huisstyle-black);
	--color-text-3-8: var(--color-huisstyle-white);

	/* Behance fourth version of the logo */

	/* Behance fifth version of the logo */

	/* Behance sixth version of the logo */
	--bg-div-6: var(--color-huisstyle-lightBlue);

	/* Behance seventh version of the logo */

	/* Behance eigth version of the logo */

	/* Animation speed */
	--animation-speed: 10s;
}





/****************/
/* JOUW STYLING */
/****************/
body {
	background-color: var(--color-bg-body);
	height: 100dvh;
}




/* ************** */
/* The background */
/* ************** */
div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	animation-name: logo-background-2;
	animation-duration: var(--animation-speed);
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-direction: forwards;
}


@keyframes logo-background-2 {
	0%, 100% {
	  width: 0;
	  height: 0;
	  border: 9.375em solid transparent;
	  border-radius: 0%;
	}
	33% {
	  width: 18.75em;
	  height: 18.75em;
	  border: 9.375em solid var(--bg-div-2);
	  border-radius: 0%;
	}
	66% {
		width: 18.75em;
		height: 18.75em;
		border: 9.375em solid var(--bg-div-3);
		border-radius: 15%;
	}
	95% {
		width: 18.75em;
		height: 18.75em;
		border: 9.375em solid var(--bg-div-6);
		border-radius: 0%;
	}
}





/* ********** */
/* The border */
/* ********** */
div::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 

	animation-name: logo-border;
	animation-duration: var(--animation-speed);
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-direction: forwards;
}
  


@keyframes logo-border {
	0%, 100% {
	  width: 18.75em;
	  height: 18.75em;
	  border: 0em solid transparent;
	}
	25% {
	  width: 18.75em;
	  height: 18.75em;
	  border: 1.5em solid var(--bg-div-border);
	}
	50%, 95% {
		width: 18.75em;
		height: 18.75em;
		border: 0em solid transparent;
	}
}





/* ************ */
/* Behance Text */
/* ************ */
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
	opacity: 0;

	animation-name: be-anim;
	animation-duration: var(--animation-speed);
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-direction: forwards;
}

@keyframes be-anim {
  0%, 100%{
		font-size: 12em;
    font-weight: 400;
		opacity: 0;
		color: var(--color-text-2);
		font-family: var(--font-Be-first);
  }
  33% {
		font-size: 12em;
    font-weight: 600;
		opacity: 1;
		color: var(--color-text-2);
		font-family: var(--font-Be-first);
  }
	66% {
		font-size: 12em;
		font-weight: 600;
		color: var(--color-text-3-8);
		opacity: 1;
	}
	80% {
		font-size: 12em;
		font-weight: 600;
		font-family: var(--font-Be-first);
		opacity: 0;
	}
	90% {
		font-size: 14em;
		font-weight: 100;
		opacity: 0;
		color: var(--color-text-3-8);
		font-family: var(--font-Be-second);
	}
	95% {
		font-size: 14em;
		font-weight: 300;
	  opacity: 1;
		color: var(--color-text-3-8);
		font-family: var(--font-Be-second);
  }
}





@media (prefers-color-scheme: dark) {
	:root {
		/* Logo kleuren */
		--color-bg-body: var(--color-huisstyle-black);
	
		/* Behance Huistyle kleuren */
		--color-huisstyle-black: #000000;
		--color-huisstyle-white: #eee;
		--color-huisstyle-lightBlue: #5ea4ff;
		--color-huisstyle-verydarkBlue: #001534;
		--color-huisstyle-Blue: #0078ff;
	
		/* Behance first version of the logo */
	
		--color-text-1: var(--color-huisstyle-black);
	
		/* Behance second version of the logo */
		--bg-div-2: var(--color-huisstyle-white);
		--bg-div-border: var(--color-huisstyle-lightBlue);
		--color-text-2: var(--color-huisstyle-lightBlue);
	
		/* Behance third version of the logo */
		--bg-div-3: var(--color-huisstyle-Blue);
		--color-text-3-8: var(--color-huisstyle-white);
	
		/* Behance sixth version of the logo */
		--bg-div-6: var(--color-huisstyle-lightBlue);
	
		/* Animation speed */
		--animation-speed: 10s;
	}

	body {
		background-color: var(--color-bg-body);
	}

	@keyframes logo-background-2 {
		0%, 100% {
			width: 0;
			height: 0;
			border: 9.375em solid transparent;
			border-radius: 0%;
		}
		33% {
			width: 18.75em;
			height: 18.75em;
			border: 9.375em solid var(--bg-div-2);
			border-radius: 0%;
		}
		66% {
			width: 18.75em;
			height: 18.75em;
			border: 9.375em solid var(--bg-div-3);
			border-radius: 15%;
		}
		95% {
			width: 18.75em;
			height: 18.75em;
			border: 9.375em solid var(--bg-div-6);
			border-radius: 0%;
		}
	}
}